---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Email Us',
        href: 'mailto:shyam788@gmail.com',
        target: '_blank',
        icon: 'tabler:mail-fast',
      },
      { text: 'Call Us', href: 'tel:919999999999', icon: 'tabler:phone-call' },
    ]}
    image={{ src: '~/assets/images/industry.png', alt: 'LeoBond Applications' }}
  >
    <Fragment slot="title">
      Welcome to  
      <span class="text-accent dark:text-white highlight"> Shyam Chemicals,</span> your premier destination for adhesive solutions
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">Proudly standing as one of 
        <span class="font-semibold"> the leading adhesive manufacturers</span> in India</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      As prominent adhesive manufacturers, we take pride in our commitment to quality and innovation. Shyam Chemicals is your go-to source for synthetic adhesives, serving industries such as paper bag making, corrugation, food packaging, and more.
      
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="products"
    tagline="Products"
    title="Our Product Lineup"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Leo Bond HEAVY (SH)',
        description:
          'Elevate your high GSM high-quality paper projects and furniture works with Leo Bond HEAVY (SH). As synthetic adhesive manufacturers, our commitment to excellence ensures a lasting bond that withstands the rigors of industrial and domestic applications.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Leo Grip AG',
        description:
          'Leo Grip AG stands as a cost-effective solution for paper bag making and corrugation, reflecting our dedication as synthetic rubber adhesive wholesalers. This adhesive combines efficiency with affordability, meeting the demands of businesses seeking reliability without compromising on budget.',
        icon: 'tabler:components',
      },
      {
        title: 'Leo Binding Paste REGULAR',
        description:
          'Unleash your creativity with Leo Binding Paste REGULAR, a versatile flour-based gum. As synthetic resin adhesive manufacturers in Ahmedabad, our product caters to various applications, including book binding, wall posters, and more.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Leo Binding Paste SOFT',
        description:
          'Prioritize safety with Leo Binding Paste SOFT, a white food-grade gum crafted from flour and free of harmful chemicals. Tailored for food packaging, this adhesive ensures a secure bond without compromising on purity.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->



  <!-- Content Widget **************** -->

  <div class="bg-blue-50 pt-12"></div>

  <Content 
    title="Varied Products for Diverse Industry Applications"
    isAfterContent
    items={[
      {
        title: 'Wad Pasting',
        description: `Secure wads with precision and strength.`,
      },
      {
        title: 'Jewellery Box Making',
        description:
          'Craft exquisite jewellery boxes with a bond that lasts.',
      },
      {
        title: 'PET Bottle Labeling',
        description:
          "Achieve professional labeling with Leo Bond HEAVY (SH).",
      },
      {
        title: 'Office and School Use',
        description:
          'Trust in reliability for everyday tasks.',
      },
      {
        title: 'Paper Bag Making',
        description:
          'Ensure a lasting bond for paper bags.',
      },
      {
        title: 'Corrugation',
        description:
          'Elevate your corrugation projects with Leo Grip AG.',
      },
      {
        title: 'Book Binding',
        description:
          'Secure your books with Leo Binding Paste REGULAR.',
      },
      {
        title: 'Doll Making, Shell Crafts, Collage Making, and Lamasa',
        description:
          'Fuel your artistic pursuits with Leo Binding Paste REGULAR.',
      },
      {
        title: 'Food Packaging',
        description:
          'Ensure a secure bond without compromising on purity.',
      },

    ]}
    image={{
      src: '~/assets/images/packages.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Discover the versatility of our products through a myriad of applications. Whatever your needs, you will find a solution in our high selection of products.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent">.</div>
    </Fragment>
  </Content>

  <Features
    title="Why Choose Shyam Chemicals?"
    items={[
      {
        title: 'Quality Assurance',
        description: 'Every product is a testament to our commitment to excellence, ensuring quality that stands the test of time.',
      },
      {
        title: 'Industry Expertise', 
        description: 'As adhesive manufacturers and synthetic rubber adhesive wholesalers, we understand the unique needs of different sectors, providing tailored solutions for every application.',
      },
      {
        title: 'Environmental Responsibility',
        description: 'Embrace eco-friendly solutions without compromising on performance, aligning with our commitment to sustainable adhesive manufacturing.',
      },
      {
        title: 'Customer Satisfaction',
        description: 'Our customers are our top priority, and we strive to deliver the best experience through our products and services.',
      },
    ]}
  />
  <!-- Content Widget **************** -->
  <Features2
  title="Our Expertise: Applications Across Industries"
  subtitle="As adhesive manufacturers, we understand the unique needs of different sectors, providing tailored solutions for every application. Versatile and Easy to Use"
  items={[
    {
      icon: 'tabler:packages',
      title: 'Synthetic Adhesive Expertise',
      description: 'We specialize in a range of synthetic adhesives, including Fevicol 328, a water-based adhesive designed for various packaging applications that meet the highest industry standards.',
    },
    {
       icon: 'ion:fast-food-outline',
      title: 'Food-Grade Solutions',
      description: 'Explore our food-grade adhesives, ensuring safety and compliance. Our food-grade adhesive glue and food packaging adhesive solutions are crafted for applications where purity is paramount.',
    },
    {
      title: 'Lamination Expertise',
      icon: 'tabler:stack-2',
      description: 'Our lamination expertise serves a wide range of applications, including: commercial printing, pharmaceutical packaging and personal care and cosmetics packaging.',
    }
  ]}
/>


  <!-- Steps Widget ****************** -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Supplying Across India and the World"

    tagline="More than 1000+ satisfied customers"
    items={[
      {
        title: 'Gujarat',
        description: "As a vibrant industrial hub, Gujarat relies on our adhesive expertise. Shyam Chemicals ensures a seamless supply chain, meeting the adhesive needs of businesses across the state.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Indore',
        description: "Serving as a crucial trading and industrial center, Indore benefits from our extensive range of synthetic and flour-based adhesives. Our reliable supply network ensures a steady flow of quality products to support local industries.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Surat',
        description: "Known for its thriving textile and diamond industries, Surat demands adhesive solutions that match its pace. Shyam Chemicals ensures a consistent supply of adhesives, contributing to the city's industrial growth.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Pune',
        description: "An education and IT hub, Pune relies on our adhesive products for various applications. Shyam Chemicals is a reliable partner, providing the city with the right adhesives to fuel its diverse industries.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Bangalore',
        description: "As the Silicon Valley of India, Bangalore demands adhesive solutions that cater to high-tech industries. Shyam Chemicals delivers on this need, supplying quality adhesives to support innovation and manufacturing.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Delhi',
        description: "The capital city requires adhesive products that meet the highest standards. Shyam Chemicals ensures a reliable supply chain, contributing to the industrial and commercial vibrancy of Delhi.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Kerala',
        description: "Known for its scenic beauty and diverse industries, Kerala benefits from our adhesive solutions. Shyam Chemicals provides reliable products to support the state's varied economic sectors.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Mumbai',
        description: "As the financial capital, Mumbai demands adhesive solutions that match its dynamic business landscape. Shyam Chemicals reliably supplies adhesives to contribute to Mumbai's industrial and creative endeavors.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Hyderabad',
        description: "With a growing tech and pharmaceutical industry, Hyderabad relies on reliable adhesive solutions. Shyam Chemicals ensures a consistent supply to support the city's industrial aspirations.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Chennai',
        description: "A key player in the automotive and IT sectors, Chennai requires cutting-edge adhesive solutions. Shyam Chemicals delivers reliably, contributing to the city's industrial growth and innovation.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Vadodara',
        description: "As an industrial hub in Gujarat, Vadodara benefits from our adhesive expertise. Shyam Chemicals ensures a reliable supply network to support the city's diverse industrial sectors.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Agra',
        description: "Known for its historical significance and tourism, Agra also has a growing industrial base. Shyam Chemicals reliably supplies adhesives to contribute to the city's industrial and commercial growth.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Jaipur',
        description: "The Pink City relies on our adhesive products for various applications. Shyam Chemicals is a reliable partner, providing the city with the right adhesives to support its diverse industries.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Madurai',
        description: "As a cultural and industrial hub in Tamil Nadu, Madurai benefits from our adhesive solutions. Shyam Chemicals provides reliable products to support the city's varied economic sectors.",
        icon: 'tabler:map-pin-check',
      },
      {
        title: 'Sri Lanka',
        description: "Beyond borders, Shyam Chemicals extends its reliable adhesive supply to Sri Lanka. Our commitment to excellence reaches international shores, contributing to industrial and creative endeavors.",
        icon: 'tabler:map-pin-check',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

 
  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Connect with Us',
        href: 'tel:',
        target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >
    <Fragment slot="title">Choose Shyam Chemicals, where adhesive innovation meets the diverse needs of industries and artisans alike.
     
    </Fragment>

    <Fragment slot="subtitle">
      Whether you seek a Fevicol distributor near you or have specific adhesive needs, Shyam Chemicals is your reliable partner. Explore our range and experience the difference in adhesive quality and performance.
    </Fragment>
  </CallToAction>
</Layout>
